In [1]:
import pandas as pd

In [3]:
df_no_outliers = pd.read_csv('Data/Cleaned_Airbnb_Data_No_Outliers.csv')

In [4]:
df_no_outliers

,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,city,state
0,8028,78702,30.260570,-97.734410,Entire home/apt,126.0,2,657,3.72,1,306,42,Austin,Texas
1,8186,78729,30.456970,-97.784220,Private room,45.0,1,290,1.77,1,0,21,Austin,Texas
2,13879,78704,30.248850,-97.735870,Entire home/apt,57.0,30,122,0.73,1,0,3,Austin,Texas
3,14156,78704,30.260340,-97.764870,Entire home/apt,159.0,3,305,2.09,1,156,17,Austin,Texas
4,25298,78741,30.234660,-97.736820,Entire home/apt,48.0,4,51,0.31,1,98,3,Austin,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845884,245843895,North Queen Anne,47.643094,-122.354017,Entire home/apt,179.0,1,0,0.00,2,296,0,Seattle,Washington
845885,529119042,Mann,47.602287,-122.300789,Private room,59.0,1,0,0.00,35,88,0,Seattle,Washington
845886,184675574,Bryant,47.665714,-122.289243,Private room,82.0,2,0,0.00,4,26,0,Seattle,Washington
845887,584875397,Roxhill,47.531331,-122.374214,Entire home/apt,222.0,2,0,0.00,1,171,0,Seattle,Washington
845888,581629893,Rainier Beach,47.509680,-122.256950,Private room,40.0,1,0,0.00,1,260,0,Seattle,Washington

In [5]:
#drop columns that are not needed
df_no_outliers = df_no_outliers.drop(['host_id', 'latitude', 'longitude', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'number_of_reviews_ltm'], axis=1)

In [28]:
df_no_outliers

,neighbourhood,room_type,price,minimum_nights,availability_365,city,state
0,78702,Entire home/apt,126.0,2,306,Austin,Texas
1,78729,Private room,45.0,1,0,Austin,Texas
2,78704,Entire home/apt,57.0,30,0,Austin,Texas
3,78704,Entire home/apt,159.0,3,156,Austin,Texas
4,78741,Entire home/apt,48.0,4,98,Austin,Texas
...,...,...,...,...,...,...,...
845884,North Queen Anne,Entire home/apt,179.0,1,296,Seattle,Washington
845885,Mann,Private room,59.0,1,88,Seattle,Washington
845886,Bryant,Private room,82.0,2,26,Seattle,Washington
845887,Roxhill,Entire home/apt,222.0,2,171,Seattle,Washington
845888,Rainier Beach,Private room,40.0,1,260,Seattle,Washington

In [7]:
df_no_outliers_encoded = pd.get_dummies(df_no_outliers, columns=['room_type', 'neighbourhood', 'city', 'state'], drop_first=True)

In [8]:
#sample 20% of the data without outliers
df_no_outliers_sample = df_no_outliers_encoded.sample(frac=0.2, random_state=42)

# Check the size of the sampled data without outliers
print(f"Sampled data size without outliers: {df_no_outliers_sample.shape}")

Sampled data size without outliers: (169178, 938)

In [9]:
#separate features and target variable without outliers
X_no_outliers = df_no_outliers_sample.drop(columns=['price'])  # Features
y_no_outliers = df_no_outliers_sample['price']  # Target variable

In [27]:
X_no_outliers

,minimum_nights,availability_365,room_type_Hotel room,room_type_Private room,room_type_Shared room,neighbourhood_78702,neighbourhood_78703,neighbourhood_78704,neighbourhood_78705,neighbourhood_78712,...,city_New York,city_San Diego,city_San Francisco,city_Seattle,state_Colorado,state_Illinois,state_New York,state_Ohio,state_Texas,state_Washington
218595,30,87,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
216586,30,89,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
442260,30,0,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
844804,2,142,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
232762,2,82,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491545,30,263,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
481711,30,300,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
591004,1,0,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
793109,2,244,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
310418,31,98,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
from sklearn.model_selection import train_test_split

# Split the data without outliers into training and testing sets (80% train, 20% test)
X_train_no_outliers, X_test_no_outliers, y_train_no_outliers, y_test_no_outliers = train_test_split(X_no_outliers, y_no_outliers, test_size=0.2, random_state=42)

# Check the size of the training and testing sets without outliers
print(f"Training set size without outliers: {X_train_no_outliers.shape}")
print(f"Testing set size without outliers: {X_test_no_outliers.shape}")

Training set size without outliers: (135342, 937)
Testing set size without outliers: (33836, 937)

In [12]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform it
X_train_scaled = scaler.fit_transform(X_train_no_outliers)

# Transform the test data using the same scaler
X_test_scaled = scaler.transform(X_test_no_outliers)

In [13]:
from sklearn.ensemble import RandomForestRegressor

# Initialize the model
model = RandomForestRegressor(n_estimators=100, random_state=42)

In [15]:
# Train the model on the training data
model.fit(X_train_no_outliers, y_train_no_outliers)

RandomForestRegressor(random_state=42)

In [16]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Make predictions on the test set
y_pred_no_outliers = model.predict(X_test_no_outliers)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test_no_outliers, y_pred_no_outliers)
mse = mean_squared_error(y_test_no_outliers, y_pred_no_outliers)
r2 = r2_score(y_test_no_outliers, y_pred_no_outliers)

# Display the results
print(f"Mean Absolute Error (MAE) for Price Prediction: {mae}")
print(f"Mean Squared Error (MSE) for Price Prediction: {mse}")
print(f"R-squared (R2) for Price Prediction: {r2}")

Mean Absolute Error (MAE) for Price Prediction: 45.71792077137142
Mean Squared Error (MSE) for Price Prediction: 4024.109452861975
R-squared (R2) for Price Prediction: 0.28917761352537064

In [20]:
import pickle

# Save the trained model to a file
with open('random_forest_model_final_1.pkl', 'wb') as file:
    pickle.dump(model, file)

In [22]:
import numpy as np

# Load the model from the file
with open('random_forest_model_final_1.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Now you can use loaded_model to make predictions
y_pred_loaded = loaded_model.predict(X_test_no_outliers)

# You can also re-calculate evaluation metrics if needed
loaded_mae = mean_absolute_error(y_test_no_outliers, y_pred_loaded)
loaded_mse = mean_squared_error(y_test_no_outliers, y_pred_loaded)
loaded_r2 = r2_score(y_test_no_outliers, y_pred_loaded)

# Display the results for the loaded model
print(f"Loaded Model Mean Absolute Error (MAE): {loaded_mae}")
print(f"Loaded Model Mean Squared Error (MSE): {loaded_mse}")
print(f"Loaded Model R-squared (R2): {loaded_r2}")

# Make predictions with the original and loaded models
original_prediction = model.predict(X_test_no_outliers)
loaded_prediction = loaded_model.predict(X_test_no_outliers)

# Check the accuracy of both models
print("Original model accuracy (R2):", model.score(X_test_no_outliers, y_test_no_outliers))
print("Loaded model accuracy (R2):", loaded_model.score(X_test_no_outliers, y_test_no_outliers))

# Verify that the predictions are the same
if np.array_equal(original_prediction, loaded_prediction):
    print("The loaded model produces the same predictions as the original model.")
else:
    print("Something went wrong. The predictions don't match.")

Loaded Model Mean Absolute Error (MAE): 45.71792077137142
Loaded Model Mean Squared Error (MSE): 4024.109452861975
Loaded Model R-squared (R2): 0.28917761352537064
Original model accuracy (R2): 0.28917761352537064
Loaded model accuracy (R2): 0.28917761352537064
The loaded model produces the same predictions as the original model.